<!DOCTYPE html>
<html>
<head>

{% block links %}
{% endblock %}


<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<title>ANALITIK</title>



</head>
<body onload="setDefaultSelectedBody()">




<div class="wrapper">
    <div class="sidebar">
        <h2>M.E.C.</h2>
        <ul>
            <li><a href="/"><i class="fas fa-home"></i>ANASAYFA</a></li>
            <li><a href="/profiller"><i class="fas fa-user"></i>PROFILLER</a></li>
            <li><a href="/individual"><i class="fas fa-address-card"></i>ŞABLON YONET</a></li>
            <li><a href="/sporcu"><i class="fas fa-address-card"></i>SPORCU EKLE</a></li>
            <li><a href="/olcum"><i class="fas fa-blog"></i>ÖLÇÜM EKLE</a></li>
            <li><a href="/gecmis"><i class="fa fa-history" aria-hidden="true"></i>   ÖLÇÜM GEÇMİŞİ</a></li>
            <li><a href="/vert"><i class="fas fa-volleyball-ball"></i>VERT SONUÇLARI </a></li>
            <li><a href="/rm"><i class="fas fa-chart-pie"></i> ROW MAX </a></li>
            <li><a href="/cikti"><i class="fas fa-print"></i> ANTRENMAN </a></li>
            <li><a href="/program"><i class="fas fa-copy"></i>  AJANDA </a></li>
            <li><a href="/saha"><i class="fas fa-braille"></i> SAHA </a></li>
            <li><a href="/verttakim"><i class="fas fa-chalkboard-teacher"></i> TAKIM GÜNCEL </a></li>
            <li><a href="/takimprogram"><i class="fas fa-business-time"></i> TAKIM PROGRAM </a></li>
        </ul>

    </div>
    <div style="width: 2px;"></div>
    {% block content %}
    {% endblock %}
</div>






</body>
</html>