{% extends "base.html" %}

{% block links %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/cikti.css')}}">
{% endblock %}


{% block content %}


    <div class="page-content">
        <!-- Page Header-->
        <div class="page-header no-margin-bottom">
            <div class="container-fluid">
                <h2 class="h5 no-margin-bottom">Athlete Report</h2>
            </div>
        </div>
        <!-- Breadcrumb-->
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Athlete Profile</li>
            </ul>
        </div>
        <section>

            <form action="/cikti" method="post" autocomplete="off" enctype="multipart/form-data">

                    <div class="col-lg-12">
                        <h3>Select Athlete to Analyze:</h3>
                    </div>

                    <div class="row">
                        <div class="col-lg-8">
                            <select class="form-control " class="tableToChose" name="tableChosen">

                                {% for k in jsonProfilDict %}
                                    <option>
                                        {{ k }}
                                    </option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="col-lg-4">
                            <button class="btn btn-primary" class="form-control" type="submit" name="submitButton">
                                Bring
                                Profile
                            </button>
                            <button class="btn btn-danger" class="form-control" type="file" id="imgInp">
                                Chose File
                            </button>
                        </div>
                    </div>
            </form>


            <div class="content_pdf" id="topdf">


            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="block" style="text-align: center;background-color:whitesmoke">
                        <div class="avatar"><img src="{{def_img}}" alt="..." class="img-fluid rounded" style="max-height: 45vh;"></div>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                          <tr>
                                            <th> X </th>
                                            <th id="c100">%100</th>
                                            <th id="c90">%90</th>
                                            <th id="c85">%85</th>
                                            <th id="c80">%80</th>
                                            <th id="c75">%75</th>
                                            <th id="c70">%70</th>
                                            <th id="c65">%65</th>
                                            <th id="c60">%60</th>
                                            <th id="c55">%55</th>
                                            <th id="c50">%50</th>
                                          </tr>
                                          <tr>
                                            <td> Squat </td>
                                            {% for i in squatList %}
                                            <td id="s{{loop.index}}"> {{i}} </td>
                                            {% endfor %}
                                          </tr>
                                          <tr>
                                            <td> B. Press </td>
                                            {% for i in benchList %}
                                            <td id="b{{loop.index}}"> {{i}} </td>
                                            {% endfor %}
                                          </tr>
                                          <tr>
                                            <td> Row </td>
                                            {% for i in rowList %}
                                            <td id="r{{loop.index}}"> {{i}} </td>
                                            {% endfor %}
                                          </tr>
                                          <tr>
                                            <td> Shoulder </td>
                                            {% for i in shoulderList %}
                                            <td id="sh{{loop.index}}"> {{i}} </td>
                                            {% endfor %}
                                          </tr>
                                          <tr>
                                            <td> Deadlift </td>
                                            {% for i in deadliftList %}
                                            <td id="d{{loop.index}}"> {{i}} </td>
                                            {% endfor %}
                                          </tr>
                                          <tr>
                                            <td> H. Trust </td>
                                            {% for i in hiptrustList %}
                                            <td id="h{{loop.index}}"> {{i}} </td>
                                            {% endfor %}
                                          </tr>
                                    </table>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-lg-12" >
                        <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                          <tr>
                                            <th> Image Name </th>
                                            <th> Move Name  </th>
                                            <th> Button     </th>
                                          </tr>
                                          <tr>
                                            <td> Static/images/sportMove </td>
                                            <td> Move 1 </td>
                                            <td> <button class="btn btn-primary" class="form-control" type="button">Add</button> </td>
                                          </tr>
                                    </table>
                        </div>
                    </div>
                </div>
            </div>

            </div>


        </section>


        <footer class="footer">
            <div class="footer__block block no-margin-bottom">

            </div>
        </footer>
    </div>



        </div>

        </div>

    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>

<script src="{{ url_for('static', filename='js/html2canvas.js')}}"></script>

<script src="{{ url_for('static', filename='js/jquery-3.5.1.js')}}"></script>

<script type="module" src="{{ url_for('static', filename='js/cikti.js')}}"></script>


{% endblock %}