{% extends "base.html" %}

{% block content %}


    <style>

        .bg_modal {
            width: 100%;
            height: 200%;
            background-color: rgba(0, 0, 0, 0.7);
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            display: none;
            z-index: 100;
        }

        .modal_content {
            margin-top: 100px;
            width: 400px;
            height: 60vh;
            background-color: dimgrey;
            text-align: center;
            padding: 20px;
            position: relative;
            overflow-y: scroll;
        }

        .close {
            position: absolute;
            top: 0;
            right: 14px;
            font-size: 50px;
            transform: rotate(45deg);
            cursor: pointer;
        }

        .bg_modal_delete {
            width: 100%;
            height: 200%;
            z-index: 100;
            background-color: rgba(0, 0, 0, 0.7);
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            display: none;
        }

        .modal_content_delete {
            margin-top: 100px;
            width: 400px;
            height: 400px;
            background-color: dimgrey;
            text-align: center;
            padding: 20px;
            position: relative;
        }

        .close_delete {
            position: absolute;
            top: 0;
            right: 14px;
            font-size: 50px;
            transform: rotate(45deg);
            cursor: pointer;
        }

        .bg_modal_update {
            z-index: 100;
            width: 100%;
            height: 200%;
            background-color: rgba(0, 0, 0, 0.7);
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            display: none;
        }

        .modal_content_update {
            margin-top: 100px;
            width: 400px;
            height: 60vh;
            background-color: dimgrey;
            text-align: center;
            padding: 20px;
            position: relative;
            overflow-y: scroll;
        }

        .close_update {
            position: absolute;
            top: 0;
            right: 14px;
            font-size: 50px;
            transform: rotate(45deg);
            cursor: pointer;
        }

    </style>



    <!-- Sidebar Navigation end-->
    <div class="page-content">
        <!-- Page Header-->
        <div class="page-header no-margin-bottom">
            <div class="container-fluid">
                <h2 class="h5 no-margin-bottom">Database</h2>
            </div>
        </div>
        <!-- Breadcrumb-->
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Database</li>
            </ul>
        </div>
        <section class="no-padding-top">
            <div class="container-fluid">
                <div class="row">
                    <form class="col-lg-12" action="/individual" method="post" autocomplete="off">


                        <div class="bg_modal">

                            <div class="modal_content">

                                <div class="close"> +</div>

                                <ul class="addListColumns" style="list-style-type: none;">

                                    {% for key in donatData %}

                                        <li> {{ key }} </li>

                                        <input type="text" name="datas" class="form-control">

                                    {% endfor %}

                                </ul>

                                <input type="submit" name="submits" value="ADD ITEM" class="btn-success">
                            </div>

                        </div>

                        <div class="bg_modal_delete">

                            <div class="modal_content_delete">

                                <div class="close_delete"> +</div>

                                <select id="selectDel" name="selectDel" class="form-control">

                                    <option value="none_none_none">
                                        Select One
                                    </option>

                                    {% for key in table %}

                                        <option value="{{ key[0] }}_{{ key[1] }}_{{ key[2] }}">
                                            {{ key[0] }} {{ key[1] }} {{ key[2] }}
                                        </option>

                                    {% endfor %}

                                </select>


                                <ul class="addListColumns" style="list-style-type: none;">

                                    {% for key in donatData[:3] %}

                                        <li> {{ key }} </li>

                                        <input id="popupdel{{ loop.index }}" type="text" name="datas2"
                                               class="form-control">

                                    {% endfor %}

                                </ul>

                                <input type="submit" name="submits" value="DELETE ITEM" class="btn-danger">
                            </div>

                        </div>

                        <div class="bg_modal_update">
                            <div class="modal_content_update">

                                <div class="close_update"> +</div>


                                <select id="selectUpdate" name="selectUpdate" class="form-control">


                                    <option value="none_none_none_none_none_none_none_none_none_none_none_none_none_none">
                                        Select One
                                    </option>


                                    {% for key in table %}

                                        <option value="{{ key[0] }}_{{ key[1] }}_{{ key[2] }}_{{ key[3] }}_{{ key[4] }}_{{ key[5] }}_{{ key[6] }}_{{ key[7] }}_{{ key[8] }}_{{ key[9] }}_{{ key[10] }}_{{ key[11] }}_{{ key[12] }}_{{ key[13] }}">
                                            {{ key[0] }} {{ key[1] }} {{ key[2] }}
                                        </option>

                                    {% endfor %}

                                </select>

                                <ul class="addListColumns" style="list-style-type: none">

                                    {% for key in donatData %}

                                        <li> {{ key }} </li>

                                        <input id="popupUP{{ loop.index }}" type="text" name="datas3"
                                               class="form-control">

                                    {% endfor %}

                                </ul>

                                <input type="submit" name="submits" value="UPDATE ITEM" class="btn-info">
                            </div>

                        </div>


                        <div class="col-lg-12">
                            <h3>Select Schema to Manage:</h3>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <select class="form-control " class="tableToChose" name="table1"
                                        onclick="getDefaultSelected();">
                                    <option value="sporcular">
                                        Sporcular
                                    </option>

                                </select>
                            </div>
                            <div class="col-lg-4">
                                <button class="btn btn-primary" class="form-control" type="submit" name="submitButton">
                                    Bring
                                    Schema
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <button class="btn btn-primary" style="background-color: darkgreen;width: 100%"
                                        class="form-control"
                                        type="button" id="add">
                                    ADD
                                </button>
                            </div>
                            <div class="col-lg-4">
                                <button class="btn btn-primary" style="background-color: darkgoldenrod;width: 100%"
                                        class="form-control"
                                        type="button" id="update">
                                    UPDATE
                                </button>
                            </div>
                            <div class="col-lg-4">
                                <button class="btn btn-primary" style="background-color: darkred;width: 100%"
                                        class="form-control"
                                        type="button" id="del">
                                    DELETE
                                </button>
                            </div>

                        </div>
                    </form>
                    <div class="col-lg-12">
                        <div class="block">
                            <div class="title"><strong>Database Projection</strong></div>
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        {% for hd in tableHeader %}
                                            <th>{{ hd }}</th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for row in table %}

                                        <tr>

                                            {% for rowData in row %}

                                                <td>{{ rowData }}</td>

                                            {% endfor %}

                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="footer__block block no-margin-bottom">
            </div>
        </footer>
    </div>

    <script src="{{ url_for('static', filename='js/jquery-3.5.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/manage.js') }}"></script>
{% endblock %}