{% extends "base.html" %}

{% block content %}

    <!-- Sidebar Navigation end-->
    <div class="page-content">
        <!-- Page Header-->
        <div class="page-header no-margin-bottom">
            <div class="container-fluid">
                <h2 class="h5 no-margin-bottom">Add Tests</h2>
            </div>
        </div>
        <!-- Breadcrumb-->
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Add Tests</li>
            </ul>
        </div>
        <section class="no-padding-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="block margin-bottom-sm">
                            <div class="title"><strong>Athlete Test Forms</strong></div>
                            <div class="table-responsive">

                                <table class="table">
                                    <tr>
                                        <th><i class="fa fa-list" aria-hidden="true"></i></th>
                                        {% for hd in tableHeader %}
                                            <th>{{ hd }}</th>
                                        {% endfor %}
                                    </tr>
                                    {% for row in table %}

                                        <tr>


                                            <td style="text-align: center">
                                                <button id="button" class="btn btn-info" style="width: 100%"
                                                        onclick="getID({{ loop.index }});"><i class="fa fa-plus"
                                                                                              aria-hidden="true"></i>
                                                </button>
                                            </td>

                                            <input style="display: none;" type="text" name="rowDatas" value="{{ row }}">

                                            {% for rowData in row %}

                                                <td>{{ rowData }}</td>

                                            {% endfor %}

                                        </tr>

                                    {% endfor %}


                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="footer__block block no-margin-bottom">
            </div>
        </footer>
    </div>

    <div class="bg-modal">
        <form action="/olcum" method="post" autocomplete="off">
            <input style="display: none;" type="text" class="rowDataInput"
                   name="rowDataInput" value="">
            <div class="modal-content">

                <div class="close" style="z-index: 100">+</div>
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-danger" id="maximalTestForm">Max</button>

                        <button type="button" class="btn btn-secondary" id="fmsTestForm">FMS
                        </button>

                        <button type="button" class="btn btn-danger" id="ybalanceTestForm">Y-B.</button>

                        <button type="button" class="btn btn-secondary" id="jumpTestForm">Jump</button>

                        <button type="button" class="btn btn-danger" id="vertTestForm">VERT
                        </button>

                        <button type="button" class="btn btn-secondary" id="polarTestForm">Polar
                        </button>

                        <button type="button" class="btn btn-danger" id="servisTestForm">Serve</button>
                    </div>
                </div>


                <div class="maximalTest">

                    <div class="form-group">
                        <label class="form-control-label">Date:</label>
                        <input class="form-control" type="date" placeholder="dd/mm/yyyy" name="dateMaximal">
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">Squat:</label>
                        <input class="form-control" type="number" name="maximalTest"
                               placeholder="sayi giriniz (kg)" value="0" step="0.01">
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">Bench Press:</label>
                        <input class="form-control" type="number" name="maximalTest"
                               placeholder="sayi giriniz (kg)" value="0" step="0.01">
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">Row:</label>
                        <input class="form-control" type="number" name="maximalTest"
                               placeholder="sayi giriniz (kg)" value="0" step="0.01">
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">Shoulder Press:</label>
                        <input class="form-control" type="number" name="maximalTest"
                               placeholder="sayi giriniz (kg)" value="0" step="0.01">
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">Dead Lift:</label>
                        <input class="form-control" type="number" name="maximalTest"
                               placeholder="sayi giriniz (kg)" value="0" step="0.01">
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">Hip Trust:</label>
                        <input class="form-control" type="number" name="maximalTest"
                               placeholder="sayi giriniz (kg)" value="0" step="0.01">
                    </div>

                    <div class="form-group">
                        <button class="form-control btn btn-success" type="submit" name="submits"
                                value="maximalTest"> ADD
                        </button>
                    </div>


                </div>


                <div class="fmsTest">


                    <label class="form-control-label">Date:</label>
                    <input class="form-control" type="date" placeholder="dd/mm/yyyy" name="dateFMS">

                    <label>Deep Squat:</label>
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <input class="form-control" type="number" name="fmsTest" placeholder="Raw">
                        </div>
                        <div class="form-group col-lg-4">
                            <input class="form-control" type="number" name="fmsTest" placeholder="Final"
                                   step="0.01" id="deepSquat"
                                   onkeyup="totalCalculator()">
                        </div>
                        <div class="form-group col-lg-4">
                            <input class="form-control" type="text" name="fmsTest" placeholder="Not">
                        </div>
                    </div>

                    <label class="form-control-label">Hurdle Step:</label>
                    <div class="row">
                        <div class="form-group col-lg-3">
                            <input class="form-control" type="number" name="fmsTest"
                                   placeholder="Raw Left">
                        </div>
                        <div class="form-group col-lg-3">
                            <input class="form-control" type="number" name="fmsTest"
                                   placeholder="Raw Right">
                        </div>
                        <div class="form-group col-lg-3">
                            <input class="form-control" type="number" name="fmsTest" placeholder="Final"
                                   step="0.01" id="hurdleStep"
                                   onkeyup="totalCalculator()">
                        </div>
                        <div class="form-group col-lg-3">
                            <input class="form-control" type="text" name="fmsTest" placeholder="Not">
                        </div>
                    </div>

                    <label class="form-control-label">Inline Lunge:</label>
                    <div class="row">
                        <div class="form-group col-lg-3">
                            <input class="form-control" type="number" name="fmsTest"
                                   placeholder="Raw Left">
                        </div>
                        <div class="form-group col-lg-3">
                            <input class="form-control" type="number" name="fmsTest"
                                   placeholder="Raw Right">
                        </div>
                        <div class="form-group col-lg-3">
                            <input class="form-control" type="number" name="fmsTest" placeholder="Final"
                                   step="0.01" id="inlineLunge"
                                   onkeyup="totalCalculator()">
                        </div>
                        <div class="form-group col-lg-3">
                            <input class="form-control" type="text" name="fmsTest" placeholder="Not">
                        </div>
                    </div>

                    <label class="form-control-label">Shoulder Mobility:</label>
                    <div class="row">
                        <div class="form-group col-lg-3">
                            <input class="form-control" type="number" name="fmsTest"
                                   placeholder="Raw Left">
                        </div>
                        <div class="form-group col-lg-3">
                            <input class="form-control" type="number" name="fmsTest"
                                   placeholder="Raw Right">
                        </div>
                        <div class="form-group col-lg-3">
                            <input class="form-control" type="number" name="fmsTest" placeholder="Final"
                                   step="0.01" id="shoulderMob"
                                   onkeyup="totalCalculator()">
                        </div>
                        <div class="form-group col-lg-3">
                            <input class="form-control" type="text" name="fmsTest" placeholder="Not">
                        </div>
                    </div>

                    <label class="form-control-label">Impingement Clearing:</label>
                    <div class="row">
                        <div class="form-group col-lg-3">
                            <input class="form-control" type="number" name="fmsTest"
                                   placeholder="Raw Left">
                        </div>
                        <div class="form-group col-lg-3">
                            <input class="form-control" type="number" name="fmsTest"
                                   placeholder="Raw Right">
                        </div>
                        <div class="form-group col-lg-3">
                            <input class="form-control" type="number" name="fmsTest" placeholder="Final"
                                   step="0.01" id="impClear"
                                   onkeyup="totalCalculator()">
                        </div>
                        <div class="form-group col-lg-3">
                            <input class="form-control" type="text" name="fmsTest" placeholder="Not">
                        </div>
                    </div>

                    <label class="form-control-label">Active Straight-Leg Raise:</label>
                    <div class="row">
                        <div class="form-group col-lg-3">
                            <input class="form-control" type="number" name="fmsTest"
                                   placeholder="Raw Left">
                        </div>
                        <div class="form-group col-lg-3">
                            <input class="form-control" type="number" name="fmsTest"
                                   placeholder="Raw Right">
                        </div>
                        <div class="form-group col-lg-3">
                            <input class="form-control" type="number" name="fmsTest" placeholder="Final"
                                   step="0.01" id="actStrLegRaise"
                                   onkeyup="totalCalculator()">
                        </div>
                        <div class="form-group col-lg-3">
                            <input class="form-control" type="text" name="fmsTest" placeholder="Not">
                        </div>
                    </div>

                    <label class="form-control-label">Trunk Stability Push Up:</label>
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <input class="form-control" type="number" name="fmsTest" placeholder="Raw">
                        </div>
                        <div class="form-group col-lg-4">
                            <input class="form-control" type="number" name="fmsTest" placeholder="Final"
                                   step="0.01" id="trunkStabPush"
                                   onkeyup="totalCalculator()">
                        </div>
                        <div class="form-group col-lg-4">
                            <input class="form-control" type="text" name="fmsTest" placeholder="Not">
                        </div>
                    </div>

                    <label class="form-control-label">Press Up Clearing:</label>
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <input class="form-control" type="number" name="fmsTest" placeholder="Raw">
                        </div>
                        <div class="form-group col-lg-4">
                            <input class="form-control" type="number" name="fmsTest" placeholder="Final"
                                   step="0.01" id="pressUpClear"
                                   onkeyup="totalCalculator()">
                        </div>
                        <div class="form-group col-lg-4">
                            <input class="form-control" type="text" name="fmsTest" placeholder="Not">
                        </div>
                    </div>

                    <label class="form-control-label">Rotary Stability:</label>
                    <div class="row">
                        <div class="form-group col-lg-3">
                            <input class="form-control" type="number" name="fmsTest"
                                   placeholder="Raw Left">
                        </div>
                        <div class="form-group col-lg-3">
                            <input class="form-control" type="number" name="fmsTest"
                                   placeholder="Raw Right">
                        </div>
                        <div class="form-group col-lg-3">
                            <input class="form-control" type="number" name="fmsTest" placeholder="Final"
                                   step="0.01" id="rotStab"
                                   onkeyup="totalCalculator()">
                        </div>
                        <div class="form-group col-lg-3">
                            <input class="form-control" type="text" name="fmsTest" placeholder="Not">
                        </div>
                    </div>

                    <label class="form-control-label">Posterior Rocking Clearing:</label>
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <input class="form-control" type="number" name="fmsTest" placeholder="Raw">
                        </div>
                        <div class="form-group col-lg-4">
                            <input class="form-control" type="number" name="fmsTest" placeholder="Final"
                                   step="0.01" id="postRockClear"
                                   onkeyup="totalCalculator()">
                        </div>
                        <div class="form-group col-lg-4">
                            <input class="form-control" type="text" name="fmsTest" placeholder="Not">
                        </div>
                    </div>

                    <label class="form-control-label">Total:</label>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <input class="form-control" type="number" name="fmsTest" placeholder="Total"
                                   step="0.01" id="total"
                                   onkeyup="totalCalculator()">
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-success" name="submits"
                                value="fmsTest"> ADD
                        </button>
                    </div>


                </div>

                <div class="ybalanceTest">


                    <div class="form-group">
                        <label class="form-control-label">Date:</label>
                        <input class="form-control" type="date" placeholder="dd/mm/yyyy" name="dateY">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Limb Length:</label>
                        <input class="form-control" type="number" name="ybalanceTest"
                               placeholder="sayi giriniz (cm)" id="limb"
                               onkeyup="totalCalculatorY()">
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">Dominant Leg:</label>
                        <input class="form-control" type="text" name="ybalanceTest"
                               placeholder="Sag / Sol">
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">Anterior:</label>
                        <div class="row">
                            <div class="col-lg-2">
                                <input type="number" class="form-control" name="ybalanceTest"
                                       placeholder="Left SL" id="ant_leftSL1"
                                       step="0.01" onkeyup="totalCalculatorY()">
                            </div>
                            <div class="col-lg-2">
                                <input type="number" class="form-control" name="ybalanceTest"
                                       placeholder="Left SL" id="ant_leftSL2"
                                       step="0.01" onkeyup="totalCalculatorY()">
                            </div>
                            <div class="col-lg-2">
                                <input type="number" class="form-control" name="ybalanceTest"
                                       placeholder="Left SL" id="ant_leftSL3"
                                       step="0.01" onkeyup="totalCalculatorY()">
                            </div>
                            <div class="col-lg-2">
                                <input type="number" class="form-control" name="ybalanceTest"
                                       placeholder="Right X" id="ant_rightX1"
                                       step="0.01" onkeyup="totalCalculatorY()">
                            </div>
                            <div class="col-lg-2">
                                <input type="number" class="form-control" name="ybalanceTest"
                                       placeholder="Right X" id="ant_rightX2"
                                       step="0.01" onkeyup="totalCalculatorY()">
                            </div>
                            <div class="col-lg-2">
                                <input type="number" class="form-control" name="ybalanceTest"
                                       placeholder="Right X" id="ant_rightX3"
                                       step="0.01" onkeyup="totalCalculatorY()">
                            </div>
                            <div class="col-lg-12">
                                <input type="number" class="form-control" name="ybalanceTest"
                                       placeholder="Deficit (%)" id="ant_def"
                                       step="0.01" onkeyup="totalCalculatorY()">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">Posteromedial:</label>
                        <div class="row">
                            <div class="col-lg-2">
                                <input class="form-control" type="number" name="ybalanceTest"
                                       placeholder="Left SL" id="pos1_leftSL1"
                                       step="0.01" onkeyup="totalCalculatorY()">
                            </div>
                            <div class="col-lg-2">
                                <input class="form-control" type="number" name="ybalanceTest"
                                       placeholder="Left SL" id="pos1_leftSL2"
                                       step="0.01" onkeyup="totalCalculatorY()">
                            </div>
                            <div class="col-lg-2">
                                <input class="form-control" type="number" name="ybalanceTest"
                                       placeholder="Left SL" id="pos1_leftSL3"
                                       step="0.01" onkeyup="totalCalculatorY()">
                            </div>
                            <div class="col-lg-2">
                                <input class="form-control" type="number" name="ybalanceTest"
                                       placeholder="Right X" id="pos1_rightX1"
                                       step="0.01" onkeyup="totalCalculatorY()">
                            </div>
                            <div class="col-lg-2">
                                <input class="form-control" type="number" name="ybalanceTest"
                                       placeholder="Right X" id="pos1_rightX2"
                                       step="0.01" onkeyup="totalCalculatorY()">
                            </div>
                            <div class="col-lg-2">
                                <input class="form-control" type="number" name="ybalanceTest"
                                       placeholder="Right X" id="pos1_rightX3"
                                       step="0.01" onkeyup="totalCalculatorY()">
                            </div>
                            <div class="col-lg-12">
                                <input class="form-control" type="number" name="ybalanceTest"
                                       placeholder="Deficit (%)" id="pos1_def"
                                       step="0.01" onkeyup="totalCalculatorY()">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">Posterolateral:</label>
                        <div class="row">
                            <div class="col-lg-2">
                                <input class="form-control" type="number" name="ybalanceTest"
                                       placeholder="Left SL" id="pos2_leftSL1"
                                       step="0.01" onkeyup="totalCalculatorY()">
                            </div>
                            <div class="col-lg-2">
                                <input class="form-control" type="number" name="ybalanceTest"
                                       placeholder="Left SL" id="pos2_leftSL2"
                                       step="0.01" onkeyup="totalCalculatorY()">
                            </div>
                            <div class="col-lg-2">
                                <input class="form-control" type="number" name="ybalanceTest"
                                       placeholder="Left SL" id="pos2_leftSL3"
                                       step="0.01" onkeyup="totalCalculatorY()">
                            </div>
                            <div class="col-lg-2">
                                <input class="form-control" type="number" name="ybalanceTest"
                                       placeholder="Right X" id="pos2_rightX1"
                                       step="0.01" onkeyup="totalCalculatorY()">
                            </div>
                            <div class="col-lg-2">
                                <input class="form-control" type="number" name="ybalanceTest"
                                       placeholder="Right X" id="pos2_rightX2"
                                       step="0.01" onkeyup="totalCalculatorY()">
                            </div>
                            <div class="col-lg-2">
                                <input class="form-control" type="number" name="ybalanceTest"
                                       placeholder="Right X" id="pos2_rightX3"
                                       step="0.01" onkeyup="totalCalculatorY()">
                            </div>
                            <div class="col-lg-12">
                                <input class="form-control" type="number" name="ybalanceTest"
                                       placeholder="Deficit (%)" id="pos2_def"
                                       step="0.01" onkeyup="totalCalculatorY()">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">Total:</label>
                        <div class="row">
                            <div class="col-lg-6">
                                <input class="form-control" type="number" name="ybalanceTest"
                                       placeholder="Left (%)" step="0.01" id="totalLeft"
                                       onkeyup="totalCalculatorY()">
                            </div>
                            <div class="col-lg-6">
                                <input class="form-control" type="number" name="ybalanceTest"
                                       placeholder="Right (%)" step="0.01"
                                       id="totalRight" onkeyup="totalCalculatorY()">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-success" name="submits"
                                value="ybalanceTest"> ADD
                        </button>
                    </div>

                </div>

                <div class="jumpTest">

                    <div class="form-group">
                        <label class="form-control-label"> Date </label>
                        <input class="form-control" type="date" placeholder="dd/mm/yyyy" name="dateJUMP">
                    </div>

                    <div class="form-group">
                        <label class="form-control-label"> Time </label>
                        <input class="form-control" type="number" name="jumpTest"
                               placeholder="seconds (sn)">
                    </div>

                    <div class="form-group">
                        <label class="form-control-label"> Location </label>
                        <input class="form-control" type="text" name="jumpTest"
                               placeholder="text">
                    </div>

                    <div class="form-group">
                        <label class="form-control-label"> Positions </label>
                        <input class="form-control" type="text" name="jumpTest"
                               placeholder="yazi giriniz">
                    </div>

                    <div class="form-group">
                        <h2>Jumps:</h2>
                        <div class="row">
                            <div class="col-lg-4">
                                <input class="form-control" type="number" name="jumpTest"
                                       placeholder="Jump 1 (cm)">
                            </div>
                            <div class="col-lg-4">
                                <input class="form-control" type="number" name="jumpTest"
                                       placeholder="Jump 2 (cm)">
                            </div>
                            <div class="col-lg-4">
                                <input class="form-control" name="jumpTest"
                                       placeholder="Jump 3 (cm)">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-success" name="submits"
                                value="jumpTest"> ADD
                        </button>
                    </div>


                </div>

                <div class="vertTest">

                    <div class="form-group">
                        <label class="form-control-label">Date</label>
                        <input class="form-control" type="date" placeholder="dd/mm/yyyy" name="dateVERT">
                    </div>


                    <div class="form-group">
                        <label class="form-control-label">Vert Data</label>
                        <div class="row">
                            <div class="col-lg-4">
                                <input class="form-control" type="number" name="vertTest"
                                       placeholder="Max Jump (cm)" step="0.01">
                            </div>
                            <div class="col-lg-4">
                                <input class="form-control" type="number" name="vertTest"
                                       placeholder="Avg Jump (cm)" step="0.01">
                            </div>
                            <div class="col-lg-4">
                                <input class="form-control" type="number" name="vertTest"
                                       placeholder="Total Jump (adet)" step="0.01">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-success" name="submits"
                                value="vertTest"> ADD
                        </button>
                    </div>

                </div>

                <div class="polarTest">


                    <ul class="polarTestWrapper">

                        <div class="form-group">
                            <label class="form-control-label"> Date </label>
                            <input class="form-control" type="date" placeholder="dd/mm/yyyy" name="datePolar">
                        </div>


                        <div class="form-group">
                            <label class="form-control-label"> Polar Data </label>

                            <div class="row">
                                <div class="col-lg-4"><input class="form-control" type="number" name="polarTest"
                                                             placeholder="Max Rate"></div>
                                <div class="col-lg-4">
                                    <input class="form-control" type="number" name="polarTest"
                                           placeholder="Avg Rate">
                                </div>
                                <div class="col-lg-4">
                                    <input class="form-control" type="number" name="polarTest"
                                           placeholder="Total Rate">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-success" name="submits"
                                    value="polarTest"> ADD
                            </button>
                            <div>

                    </ul>

                </div>


                <div class="servisTest">

                    <div class="form-group">
                        <label class="form-control-label">Date</label>
                        <input class="form-control" type="date" placeholder="dd/mm/yyyy" name="dateServis">
                    </div>


                    <div class="form-group">
                        <label class="form-control-label">Serve Speed Data</label>

                        <div class="scrollAceHit">
                            <table class="table table-striped table-hover" id="aceHitTable"
                                   name="aceHitTable">
                                <tr>
                                    <th>Tür</th>
                                    <th>Hız</th>
                                </tr>
                            </table>
                        </div>


                        <input class="form-control" type="number" name="servisTest"
                               placeholder="(km/h)" id="aceHitVal" step="0.01">


                        <div class="form-group" style="text-align: center">
                            <button class="btn btn-success" type="button" id="aceAdd"
                                    onclick="addNewAce();">ACE ADD
                            </button>
                            <button type="button" class="btn btn-info" id="hitAdd"
                                    onclick="addNewHit();">SLASH ADD
                            </button>
                            <button type="button" class="btn btn-danger"
                                    id="servisAdd" onclick="addNewServis();">
                                    SERVE ADD
                            </button>
                            <button type="button" class="btn btn-warning"
                                    id="hataAdd" onclick="addNewHata();">ERROR ADD
                            </button>
                            <button type="button" class="btn btn-dark"
                                    id="remAceHit"
                                    onclick="deleteNewFromTable();">DELETE SERVE
                            </button>
                        </div>

                    </div>

                    <li>
                        <button type="submit" class="form-control btn btn-success" name="submits"
                                value="servisTest"> Ölçüm Ekle
                        </button>
                    </li>

                </div>

            </div>

        </form>
    </div>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_olcum.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/olcum.js') }}"></script>
{% endblock %}