{% extends "base.html" %}

{% block links %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/saha.css')}}">
{% endblock %}


{% block content %}

    <div class="main_content">
        <div class="header">Çıktı Almak İçin Ayarlayınız..</div>

        <div class="info">

        <div class="body_container">

            <div class="header_bar" id="topdf1">
                <input type="text" placeholder="Başlık">
            </div>

            <div class="field" id="topdf2">
            
            <ul class="element_bar">
                <li id="baseElement">

                      <div id="mydiv" class="elements" style="top: 500px;left: 50px;">
                          <div id="mydivheader" class="elementsIn">
                              <img  class="myImg" src="static/ball.png">
                          </div>

                      </div>

                </li>


            </ul>

            </div>

            <ul class="control_bar">
                <li>
                    <button class="button_control" id="addRow">ADD ELEMENT</button>
                </li>
                <li>
                    <button class="button_control2" id="delRow">DELETE ELEMENT</button>
                </li>
                <li>
                    <button class="button_control3" id="addImg">CHANGE IMG</button>
                </li>
                <li>
                    <button class="button_control4" id="pdf">SAVE PDF</button>
                </li>
            </ul>
            





        </div>

        </div>

    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>

<script src="{{ url_for('static', filename='js/html2canvas.js')}}"></script>

<script src="{{ url_for('static', filename='js/jquery-3.5.1.js')}}"></script>

<script type="module" src="{{ url_for('static', filename='js/saha.js')}}"></script>


{% endblock %}