{% extends "base.html" %}

{% block links %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/style_sporcu.css')}}">
<script src="{{ url_for('static', filename='js/sporcu.js')}}"></script>
{% endblock %}

{% block content %}
    <form action="/sporcu" method="post" autocomplete="off" enctype="multipart/form-data">
    <div class="main_content">
        <div class="header">Sporcu eklemek için kayit formu..</div>
        <div class="info">

        <div class="body_container">

            <div class="inputContainer">
                <div class="backgroundWrapped">
                <label for="file_photo" class="file">
                    <div id="camera_icon" class="camera_icon">
                    <img class="defaultPhoto" src="static/athlete_images/default.png">
                    </div>
                    <label class="file_photo_sporcu">
                    <h3>Fotoğraf Yükle</h3>
                    <input style="display: none;" type="file" id="file_photo" class="file_photo" onchange="preview_image(event)" name="item_image"/>
                    </label>
                </label>

                <ul class="infoWrap">
                <li>
                    <ul class="infoList">

                        <li>
                            <h2>Ad:</h2>
                            <input type="text" name="SporcuInf" >
                        </li>
                        <li>
                            <h2>Soyad:</h2>
                            <input type="text" name="SporcuInf" >
                        </li>
                        <li>
                            <h2>Kilo:</h2>
                            <input type="number" name="SporcuInf" placeholder="  100.0" step="0.01">
                        </li>
                        <li>
                            <h2>Boy:</h2>
                            <input type="number" name="SporcuInf" placeholder="  2.05" step="0.01">
                        </li>
                        <li>
                            <h2>Mevki:</h2>
                            <input type="text" name="SporcuInf" placeholder="  Pasör)">
                        </li>
                        <li>
                            <h2>Cinsiyet:</h2>
                            <select  class="selectBox" name="SporcuInf2">
                                <option value="erkek">
                                    Erkek
                                </option>
                                <option value="kadin">
                                    Kadın
                                </option>
                            </select>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="infoList2">
                    <li>
                        <li>
                            <h2>Sağlık:</h2>
                            <select  class="selectBox2" name="SporcuInf">
                                <option value="İYİ">
                                    İYİ
                                </option>
                                <option value="ORTA">
                                    ORTA
                                </option>
                                <option value="KÖTÜ">
                                    KÖTÜ
                                </option>
                            </select>
                        </li>
                        <li>
                            <h2>Kan:</h2>
                            <select  class="selectBox2" name="SporcuInf">
                                <option value="0 rh-">
                                    0 rh-
                                </option>
                                <option value="0 rh+">
                                    0 rh+
                                </option>
                                <option value="A rh-">
                                    A rh-
                                </option>
                                <option value="A rh+">
                                    A rh+
                                </option>
                                <option value="B rh-">
                                    B rh-
                                </option>
                                <option value="B rh+">
                                    B rh+
                                </option>
                                <option value="AB rh-">
                                    AB rh-
                                </option>
                                <option value="AB rh+">
                                    AB rh+
                                </option>
                                <option value="---">
                                    ---
                                </option>
                            </select>
                        </li>
                        <li>
                            <h2>Beden:</h2>
                            <select  class="selectBox2" name="SporcuInf">
                                <option value="XL">
                                    XL
                                </option>
                                <option value="L">
                                    L
                                </option>
                                <option value="M">
                                    M
                                </option>
                                <option value="S">
                                    S
                                </option>
                            </select>
                        </li>
                        <li>
                            <h2>Tel:</h2>
                            <input type="text" name="SporcuInf" placeholder="  xxx xxx xx xx">
                        </li>
                        <li style="display:none;">
                            <h2>Sporcu Fotoğrafı:</h2>
                            <input type="text" class="sporcuPhoto" name="SporcuInf" placeholder="  default">
                        </li>
                        <li>
                            <h2>Yas:</h2>
                            <input type="text" class="sporcuInf" name="SporcuInf2" placeholder=" 21">
                        </li>
                        <li>
                            <h2>Notlar:</h2>
                            <input type="text" class="sporcuInf" name="SporcuInf2" placeholder="  sağlık">
                        </li>
                    </ul>
                </li>
                </ul>
                <input type="submit" name="submitSporcu" value="KAYDET" class="buttonSporcu">
                </div>





            </div>

        </div>
        </div>
    </div>
    </form>

{% endblock %}