{% extends "base.html" %}

{% block content %}

    <script src="{{ url_for('static', filename='js/sporcu.js') }}"></script>

    <div class="page-content">
        <!-- Page Header-->
        <div class="page-header no-margin-bottom">
            <div class="container-fluid">
                <h2 class="h5 no-margin-bottom">Athlete Adding Form</h2>
            </div>
        </div>
        <!-- Breadcrumb-->
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Form</li>
            </ul>
        </div>
        <section class="no-padding-top">
            <div class="container-fluid">
                <div class="row">
                    <!-- Basic Form-->
                    <div class="col-lg-12">
                        <div class="block">
                            <div class="title"><strong class="d-block">Athlete Form</strong><span class="d-block">Enter Athlete Information.</span>
                            </div>
                            <div class="block-body">
                                <form action="/sporcu" method="post" autocomplete="off" enctype="multipart/form-data">

                                    <div class="form-group">
                                    <label for="file_photo" class="form-control-label">
                                        <div id="camera_icon" class="camera_icon">
                                        <img class="defaultPhoto" src="static/athlete_images/default.png">
                                        </div>
                                        <label class="file_photo_sporcu">
                                        <input style="display: none;" type="file" id="file_photo" class="file_photo" onchange="preview_image(event)" name="item_image"/>
                                        </label>
                                    </label>
                                    </div>


                                    <style>
                                        .defaultPhoto {
                                            background-repeat: no-repeat;
                                            object-fit: cover;
                                            width: 100%;
                                            height: 100%;
                                        }
                                        .camera_icon {
                                            background-repeat: no-repeat;
                                            border: 2px solid #6C0000;
                                            height: 25vh;
                                            width: 50vw;
                                        }
                                    </style>

                                    <div class="form-group">
                                        <label class="form-control-label">Athlete Name</label>
                                        <input type="text" name="SporcuInf" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label">Athlete Surname</label>
                                        <input type="text" name="SporcuInf" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label">Weight</label>
                                        <input type="number" name="SporcuInf" placeholder="  100.0" step="0.01"
                                               class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label">Height</label>
                                        <input type="number" name="SporcuInf" placeholder="  2.05" step="0.01"
                                               class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label">Athlete Position</label>
                                        <input type="text" name="SporcuInf" placeholder="" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label">Athlete Sex</label>
                                        <select name="SporcuInf2" class="form-control">
                                            <option value="erkek">
                                                Erkek
                                            </option>
                                            <option value="kadin">
                                                Kadın
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label">Athlete Health</label>
                                        <select name="SporcuInf" class="form-control">
                                            <option value="GOOD">
                                                İYİ
                                            </option>
                                            <option value="MID">
                                                ORTA
                                            </option>
                                            <option value="BAD">
                                                KÖTÜ
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label">Athlete Blood Type</label>
                                        <select name="SporcuInf" class="form-control">
                                            <option value="0 rh-">
                                                0 rh-
                                            </option>
                                            <option value="0 rh+">
                                                0 rh+
                                            </option>
                                            <option value="A rh-">
                                                A rh-
                                            </option>
                                            <option value="A rh+">
                                                A rh+
                                            </option>
                                            <option value="B rh-">
                                                B rh-
                                            </option>
                                            <option value="B rh+">
                                                B rh+
                                            </option>
                                            <option value="AB rh-">
                                                AB rh-
                                            </option>
                                            <option value="AB rh+">
                                                AB rh+
                                            </option>
                                            <option value="---">
                                                ---
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label">Athlete Size</label>
                                        <select name="SporcuInf" class="form-control">
                                            <option value="XL">
                                                XL
                                            </option>
                                            <option value="L">
                                                L
                                            </option>
                                            <option value="M">
                                                M
                                            </option>
                                            <option value="S">
                                                S
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label">Athlete Phone</label>
                                        <input type="text" name="SporcuInf"
                                               class="form-control">
                                    </div>
                                    <div class="form-group" style="display: none">
                                        <label class="form-control-label">Athlete Picture</label>
                                        <input type="text" name="SporcuInf" class="form-control" id="sporcuPhoto">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label">Athlete Age</label>
                                        <input type="text" name="SporcuInf2" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label">Athlete Notes</label>
                                        <input type="text" name="SporcuInf2"
                                               class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="ADD" class="form-control btn btn-primary">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="footer__block block no-margin-bottom">
            </div>
        </footer>
    </div>


{% endblock %}

