li, a, button{
  font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0;
	padding: 30px 10%;
	background-color: #606060;
}

.nav_links {
	list-style: none;
}

.nav_links li {
	display: inline-block;
	padding: 0 20px;
	margin: 0 10px;
}

.nav_links li a {
	margin-left: 5px;
	color: #CDCDCD;
	padding: 9px 20px;
	border:none;
	cursor:pointer;
	transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
	color: #fff;
}


.cta {
	padding: 10px 20px;
	background-color: #818181;
	border:none;
	border-radius: 59px;
	cursor:pointer;
	transition: all 0.3s ease 0s;
}

.cta:hover {
	background-color: #fff;
	color: #000;
}

.body_container {
	background-color: #979797;
}

.body_container .fileContainer .nav_list h3 {
	margin-left: 15px;
}

.body_container .fileContainer {
	display: flex;
}
.body_container .fileContainer .nav_list{
	list-style: none;
	text-decoration: none;
	display: flex;
}

.body_container .fileContainer .nav_list li input {
	margin-top: 20px;
}

.body_container .fileContainer .nav_list li select {
	margin-top: 20px;
}

.body_container .fileContainer .nav_list li .submitButton{
	margin-left: 5px;
	margin-top: 18px;
	background-color: #4E8B16;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-color: #4E8B16;
	border: 2px solid #4E8B16;
	transition-duration: 0.4s;
}
.fileContainer  .nav_list li .submitButton:hover {
	background-color: #fff;
	color: #000;
}

.body_container .inputContainer {
	display: flex;
}

.body_container .inputContainer .input_list{
	list-style: none;
	text-decoration: none;
	display: flex;
}
.body_container .inputContainer .input_list h3{
	margin-left: 15px;
}

.body_container .inputContainer .input_list li input {
	margin-top: 20px;
}

.body_container .inputContainer .input_list li select {
	margin-top: 20px;
}

.body_container .inputContainer .input_list li .submitButton{
	margin-left: 5px;
	margin-top: 18px;
	background-color: #4E8B16;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-color: #4E8B16;
	border: 2px solid #4E8B16;
	transition-duration: 0.4s;
}
.body_container .inputContainer  .input_list li .submitButton:hover {
	background-color: #fff;
	color: #000;
}



.body_container .tableContainer {
	display: flex;
}

.body_container .tableContainer .table_list{
	list-style: none;
	text-decoration: none;
	display: flex;
}
.body_container .tableContainer .table_list h3{
	margin-left: 15px;
}

.body_container .tableContainer .table_list li input {
	margin-top: 20px;
}

.body_container .tableContainer .table_list li select {
	margin-top: 20px;
}

.body_container .tableContainer .table_list li .submitButton{
	margin-left: 5px;
	margin-top: 18px;
	background-color: #4E8B16;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-color: #4E8B16;
	border: 2px solid #4E8B16;
	transition-duration: 0.4s;
}
.body_container .tableContainer  .table_list li .submitButton:hover {
	background-color: #fff;
	color: #000;
}


.body_container .customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.body_container .customers td, .customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.body_container .tableSQL  .customers tr:nth-child(even){background-color: #f2f2f2;}

.body_container .tableSQL  .customers tr:hover {background-color: #ddd;}

.body_container .tableSQL  .customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}