.field {
  overflow-y: scroll;
  text-align: center;
  background-color: whitesmoke;
  width: 54vw;
  height: 75vh;
  background-image: url(field.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.elements {
  position: absolute;
}
.elementsIn img {
  max-height: 5vh;
  max-width: 5vw;
}