@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

body{
   background-color: #EAEAEA;
}
@media only screen and (min-width: 768px) {
    .sidebar {
        display: none;
    }
    .main_content {
        margin-left: 0px;
        width: 100vw;
    }
    .maingraphs {
        height: 30vh;width: 40vw;
    }
}
@media only screen and (max-width: 1024px) {
    .sidebar {
        display: none;
    }
    .main_content {
        margin-left: 0px;
        width: 100vw;
    }
    .maingraphs {
        height: 30vh;width: 40vw;
    }
}
@media only screen and (min-width: 1024px) {
    .sidebar {
        display: inline;
    }
    .main_content {
        margin-left: 16vw;
        width: 79vw;
    }
    .maingraphs {
        height: 18vh;width: 36vw;
    }
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 16vw;
  height: 100%;
  background:  #EAEAEA;
  padding: 30px 0px;
  position: fixed;
  box-shadow: 3px 3px #C1C1C1;
}

.wrapper .sidebar h2{
  color: #72CAFC;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  border-bottom: 4px solid #bdb8d7;
  border-bottom: 4px solid rgba(0,0,0,0.05);
  border-top: 4px solid rgba(255,255,255,0.05);
}

.wrapper .sidebar ul li a{
  color: #359EDA;
  display: block;
}
.wrapper .sidebar ul li a i{
  color: #359EDA;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #40B2F3;
}

.wrapper .sidebar ul li:hover a{
  color: #fff;
}

.wrapper .sidebar ul li:hover a i{
  color:    #000080;
}

.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #CB6A21;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/*
.wrapper .main_content{
  width: 79vw;
  margin-left: 16vw;
}*/

.wrapper .main_content .header{
  padding: 20px;
  background: #72CAFC;
  color: #fff;
  border-bottom: 1px solid #e0e4e8;
  box-shadow: 2px 2px #C1C1C1;

}
.wrapper .main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}


.body_container .inputContainer .input_list{
  list-style: none;
  text-decoration: none;
}
.body_container .inputContainer .input_list h3{
  margin-top: 20px;
  margin-left: 0;
  margin-right: 20px;
}

.body_container .inputContainer .input_list li input {
  margin-top: 20px;
}

.body_container .inputContainer .input_list li select {
  margin-left: 0;
  width: 50%;
  height: 30px;
  border: none;
  background-color: #EAEAEA;
  border-bottom: 2px solid darkred;
  font-size: 20px;
}

.body_container .inputContainer .input_list li .submitButton{
  margin-left: 0;
  margin-top: 18px;
  background-color: #6DBAE0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-color: #6DBAE0;
  border: 2px solid #6DBAE0;
  transition-duration: 0.4s;
  padding: 4px;
  color: #fff;
}
.body_container .inputContainer  .input_list li .submitButton:hover {
  background-color: #fff;
  color: #000;
}

.all_content_wrapped{
  display: all;
  position: relative;
  width: 100%;
}

.profile_content {
  width: 100%;
  position: relative;
  background-color: white;
  /*box-shadow: -10px +10px #d3d3d3;*/
}

.parentList {
  width: 85%;
  display: flex;
}
.parentList li {
  padding-left: 5%;
}
.defaultPhoto {
    margin-top:15%;
    max-width: 20vw;
    max-height: 50vh;
    border-right: 4px solid #6DBAE0;
}

.child_list_1 {
  position: relative;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.child_list_1 li {
  width: 100%;
  padding: 2px;
}

.text_profile_content_2 {
  margin-left: 5%;
}

.child_list_2 {
  position: relative;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.child_list_2 li {
  width: 100%;
  padding: 2px;
}

.clasVal {
  font-weight: normal;
  color: black;
  display: inline-block;
  background-color: #DFDFDF;
  padding: 5px 8px 2px 8px;
  width: 22vw;
}
.clasVal:hover {
 background-color: #d3d3d3;
}


.graph_content {
  width: 100%;
  position: relative;
  background-color: white;
  /*box-shadow: -10px +10px #d3d3d3;*/
  height: 250vh;
}

.graphs_1 {
  display: flex;
  margin-bottom: 20vh;
}

.graphs_1 li{
  margin-left: 2%;
}

.graphs_2 {
  display: flex;
  margin-bottom: 20vh;
}

.graphs_2 li{
  margin-left: 2%;
}

.graphs_3 {
  display: flex;
  margin-bottom: 20vh;
}

.graphs_3 li{
  margin-left: 2%;
}

.graphs_4 {
  display: flex;
  margin-bottom: 20vh;
}

.graphs_4 li{
  margin-left: 2%;
}


.buttonVert {
  margin-left: 0;
  margin-top: 18px;
  background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-color: white;
  transition-duration: 0.4s;
  padding: 4px;
  color: white;
  border: 2px solid white;
}
.buttonVert:hover {
  border: 2px solid #6DBAE0;
  color: #6DBAE0;
}

.buttonVert2 {
  margin-left: 0;
  margin-top: 18px;
  background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-color: white;
  transition-duration: 0.4s;
  padding: 4px;
  color: white;
  border: 2px solid white;
}
.buttonVert2:hover {
  border: 2px solid #6DBAE0;
  color: #6DBAE0;
}

.button1 {
  margin-left: 0;
  margin-top: 18px;
  background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-color: white;
  transition-duration: 0.4s;
  padding: 4px;
  color: white;
  border: 2px solid white;
}
.button1:hover {
  border: 2px solid #6DBAE0;
  color: #6DBAE0;
}
.button2 {
  margin-left: 0;
  margin-top: 18px;
  background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-color: white;
  transition-duration: 0.4s;
  padding: 4px;
  color: white;
  border: 2px solid white;
}
.button2:hover {
  border: 2px solid #6DBAE0;
  color: #6DBAE0;
}
.button3 {
  margin-left: 0;
  margin-top: 18px;
  background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-color: white;
  transition-duration: 0.4s;
  padding: 4px;
  color: white;
  border: 2px solid white;
}
.button3:hover {
  border: 2px solid #6DBAE0;
  color: #6DBAE0;
}
.button4{
  margin-left: 0;
  margin-top: 18px;
  background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-color: white;
  transition-duration: 0.4s;
  padding: 4px;
  color: white;
  border: 2px solid white;
}
.button4:hover {
  border: 2px solid #6DBAE0;
  color: #6DBAE0;
}
.button5 {
  margin-left: 0;
  margin-top: 18px;
  background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-color: white;
  transition-duration: 0.4s;
  padding: 4px;
  color: white;
  border: 2px solid white;
}
.button5:hover {
  border: 2px solid #6DBAE0;
  color: #6DBAE0;
}
.button6{
  margin-left: 0;
  margin-top: 18px;
  background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-color: white;
  transition-duration: 0.4s;
  padding: 4px;
  color: white;
  border: 2px solid white;
}
.button6:hover {
  border: 2px solid #6DBAE0;
  color: #6DBAE0;
}
.button7 {
  margin-left: 0;
  margin-top: 18px;
  background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-color: white;
  transition-duration: 0.4s;
  padding: 4px;
  color: white;
  border: 2px solid white;
}
.button7:hover {
  border: 2px solid #6DBAE0;
  color: #6DBAE0;
}
.button8 {
  margin-left: 0;
  margin-top: 18px;
  background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-color: white;
  transition-duration: 0.4s;
  padding: 4px;
  color: white;
  border: 2px solid white;
}
.button8:hover {
  border: 2px solid #6DBAE0;
  color: #6DBAE0;
}

.bg-modalVert2 {
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.7);
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-contentVert2 {
  justify-content: center;
  align-items: center;
  width: 57vw;
  height: 50vh;
  background-color: white;
  position: relative;
}
.closeVert2 {
  cursor: pointer;
  color: #A50404;
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 60px;
  transform: rotate(45deg);
}

.bg-modalVert {
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.7);
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-contentVert {
  justify-content: center;
  align-items: center;
  width: 57vw;
  height: 50vh;
  background-color: white;
  position: relative;
}
.closeVert {
  cursor: pointer;
  color: #A50404;
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 60px;
  transform: rotate(45deg);
}

.bg-modal1 {
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.7);
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-content1 {
  justify-content: center;
  width: 57vw;
  height: 50vh;
  background-color: white;
  position: relative;
}
.close1 {
  cursor: pointer;
  color: #A50404;
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 60px;
  transform: rotate(45deg);
}

.bg-modal2 {
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.7);
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-content2 {
  justify-content: center;
  align-items: center;
  width: 57vw;
  height: 50vh;
  background-color: white;
  position: relative;
}
.close2 {
  cursor: pointer;
  color: #A50404;
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 60px;
  transform: rotate(45deg);
}
.bg-modal3 {
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.7);
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-content3 {
  justify-content: center;
  align-items: center;
  width: 57vw;
  height: 50vh;
  background-color: white;
  position: relative;
}
.close3{
  cursor: pointer;
  color: #A50404;
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 60px;
  transform: rotate(45deg);
}
.bg-modal4 {
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.7);
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-content4{
  justify-content: center;
  align-items: center;
  width: 57vw;
  height: 50vh;
  background-color: white;
  position: relative;
}
.close4 {
  cursor: pointer;
  color: #A50404;
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 60px;
  transform: rotate(45deg);
}
.bg-modal5 {
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.7);
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-content5 {
  justify-content: center;
  align-items: center;
  width: 57vw;
  height: 50vh;
  background-color: white;
  position: relative;
}
.close5 {
  cursor: pointer;
  color: #A50404;
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 60px;
  transform: rotate(45deg);
}
.bg-modal6 {
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.7);
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-content6 {
  justify-content: center;
  align-items: center;
  width: 57vw;
  height: 50vh;
  background-color: white;
  position: relative;
}
.close6 {
  cursor: pointer;
  color: #A50404;
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 60px;
  transform: rotate(45deg);
}
.bg-modal7{
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.7);
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-content7 {
  justify-content: center;
  align-items: center;
  width: 57vw;
  height: 50vh;
  background-color: white;
  position: relative;
}
.close7 {
  cursor: pointer;
  color: #A50404;
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 60px;
  transform: rotate(45deg);
}

.bg-modal8 {
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.7);
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-content8 {
  justify-content: center;
  align-items: center;
  width: 57vw;
  height: 50vh;
  background-color: white;
  position: relative;
}
.close8 {
  cursor: pointer;
  color: #A50404;
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 60px;
  transform: rotate(45deg);
}

.graph_vert_in {
  margin-left: 5%;
  height: 40vh;
  width: 47vw;
}

.graph_vert2_in {
  margin-left: 5%;
  height: 40vh;
  width: 47vw;
}

.graph_1_in {
  margin-left: 5%;
  height: 40vh;
  width: 47vw;
}

.graph_2_in {
  margin-left: 5%;
  height: 40vh;
  width: 47vw;
}

.graph_3_in {
  margin-left: 5%;
  height: 40vh;
  width: 47vw;
}

.graph_4_in {
  margin-left: 5%;
  height: 40vh;
  width: 47vw;
}

.graph_5_in {
  margin-left: 5%;
  height: 40vh;
  width: 47vw;
}

.graph_6_in {
  margin-left: 5%;
  height: 40vh;
  width: 47vw;
}
.graph_7_in {
  margin-left: 5%;
  height: 40vh;
  width: 47vw;
}
.graph_8_in {
  margin-left: 5%;
  height: 40vh;
  width: 47vw;
}

.popUpsList {
  margin-left: 8%;
}
.popUpsList li {
  display: flex;
}
.popUpTags {
  color: black;
  border-bottom: solid 2px red;
}
.popupInfo {
  margin-left: 10px;
  color: orange;
}
