.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.7);
  position: fixed;
  z-index: 99999999;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  z-index: 100;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 80vh;
  background-color: black;
  position: relative;
  overflow-y: scroll;
}

.close {
  cursor: pointer;
  color: #A50404;
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 60px;
  transform: rotate(45deg);
}

.maximalTest {
  justify-content: center;
  position: relative;
  width: 80%;
  height: 80%;
}

.fmsTest {
  margin-left: 7.5%;
  display: none;
  position: relative;
  width: 80%;
  height: 80%;
}

.ybalanceTest {
  margin-left: 7.5%;
  display: none;
  position: relative;
  width: 80%;
  height: 80%;
}

.infosDetailed{
  padding: 0.5%;
  margin-left: 15px;
  border: none;
  border-bottom: 2px solid darkred;
  font-size: 20px;

}


.jumpTest {
  display: none;
  position: relative;
  width: 80%;
  height: 80%;
}

.vertTest {
  display: none;
  position: relative;
  width: 80%;
  height: 80%;
}


.polarTest {
  display: none;
  position: relative;
  width: 80%;
  height: 80%;
}

.servisTest {
  display: none;
  position: relative;
  width: 80%;
  height: 80%;
}


.aceButton{
  background-color: #FF0A03;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-color: #FF0A03;
  border: 2px solid #FF0A03;
  transition-duration: 0.4s;
  padding: 5px;
  color: #fff;
}
.aceButton:hover {
  background-color: #fff;
  color: #000;
}

.hitButton{
  background-color: #3BD300;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-color: #3BD300;
  border: 2px solid #3BD300;
  transition-duration: 0.4s;
  padding: 5px;
  color: #fff;
}
.hitButton:hover {
  background-color: #fff;
  color: #000;
}

.servisHitButton{
  background-color: #E0DC00;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-color: #E0DC00;
  border: 2px solid #E0DC00;
  transition-duration: 0.4s;
  padding: 5px;
  color: #fff;
}
.servisHitButton:hover {
  background-color: #fff;
  color: #000;
}

.hataHitButton {
  background-color: #9700DC;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-color: #9700DC;
  border: 2px solid #9700DC;
  transition-duration: 0.4s;
  padding: 5px;
  color: #fff;
}
.hataHitButton:hover {
  background-color: #fff;
  color: #000;
}

.removeAceHitButton{
  background-color: #E09200;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-color: #E09200;
  border: 2px solid #E09200;
  transition-duration: 0.4s;
  padding: 5px;
  color: #fff;
}
.removeAceHitButton:hover {
  background-color: #fff;
  color: #000;
}

.scrollAceHit {
    height: 200px;
    overflow-y: scroll;
    margin: 10px;
}

.aceHitTable {
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

.aceHitTable , th, td {
  border: 1px solid #ddd;
  padding: 8px;
}
.aceHitTable tr:nth-child(even){background-color: #f2f2f2;}
.aceHitTable tr:hover {background-color: #ddd;}
.aceHitTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}


