.bg-modalVert2 {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-contentVert2 {
  justify-content: center;
  align-items: center;
  width: 57vw;
  height: 50vh;
  background-color: black;
  position: relative;
}
.closeVert2 {
  cursor: pointer;
  color: #A50404;
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 60px;
  transform: rotate(45deg);
}

.bg-modalVert {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-contentVert {
  justify-content: center;
  align-items: center;
  width: 57vw;
  height: 50vh;
  background-color: black;
  position: relative;
}
.closeVert {
  cursor: pointer;
  color: #A50404;
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 60px;
  transform: rotate(45deg);
}

.bg-modal1 {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-content1 {
  justify-content: center;
  width: 57vw;
  height: 50vh;
  background-color: black;
  position: relative;
}
.close1 {
  cursor: pointer;
  color: #A50404;
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 60px;
  transform: rotate(45deg);
}

.bg-modal2 {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-content2 {
  justify-content: center;
  align-items: center;
  width: 57vw;
  height: 50vh;
  background-color: black;
  position: relative;
}
.close2 {
  cursor: pointer;
  color: #A50404;
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 60px;
  transform: rotate(45deg);
}
.bg-modal3 {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-content3 {
  justify-content: center;
  align-items: center;
  width: 57vw;
  height: 50vh;
  background-color: black;
  position: relative;
}
.close3{
  cursor: pointer;
  color: #A50404;
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 60px;
  transform: rotate(45deg);
}
.bg-modal4 {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-content4{
  justify-content: center;
  align-items: center;
  width: 57vw;
  height: 50vh;
  background-color: black;
  position: relative;
}
.close4 {
  cursor: pointer;
  color: #A50404;
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 60px;
  transform: rotate(45deg);
}
.bg-modal5 {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-content5 {
  justify-content: center;
  align-items: center;
  width: 57vw;
  height: 50vh;
  background-color: black;
  position: relative;
}
.close5 {
  cursor: pointer;
  color: #A50404;
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 60px;
  transform: rotate(45deg);
}
.bg-modal6 {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-content6 {
  justify-content: center;
  align-items: center;
  width: 57vw;
  height: 50vh;
  background-color: black;
  position: relative;
}
.close6 {
  cursor: pointer;
  color: #A50404;
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 60px;
  transform: rotate(45deg);
}
.bg-modal7{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-content7 {
  justify-content: center;
  align-items: center;
  width: 57vw;
  height: 50vh;
  background-color: black;
  position: relative;
}
.close7 {
  cursor: pointer;
  color: #A50404;
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 60px;
  transform: rotate(45deg);
}

.bg-modal8 {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-content8 {
  justify-content: center;
  align-items: center;
  width: 57vw;
  height: 50vh;
  background-color: black;
  position: relative;
}
.close8 {
  cursor: pointer;
  color: #A50404;
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 60px;
  transform: rotate(45deg);
}

.graph_vert_in {
  margin-left: 5%;
  height: 40vh;
  width: 47vw;
}

.graph_vert2_in {
  margin-left: 5%;
  height: 40vh;
  width: 47vw;
}

.graph_1_in {
  margin-left: 5%;
  height: 40vh;
  width: 47vw;
}

.graph_2_in {
  margin-left: 5%;
  height: 40vh;
  width: 47vw;
}

.graph_3_in {
  margin-left: 5%;
  height: 40vh;
  width: 47vw;
}

.graph_4_in {
  margin-left: 5%;
  height: 40vh;
  width: 47vw;
}

.graph_5_in {
  margin-left: 5%;
  height: 40vh;
  width: 47vw;
}

.graph_6_in {
  margin-left: 5%;
  height: 40vh;
  width: 47vw;
}
.graph_7_in {
  margin-left: 5%;
  height: 40vh;
  width: 47vw;
}
.graph_8_in {
  margin-left: 5%;
  height: 40vh;
  width: 47vw;
}
